body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #dedede;
  color: #333;
  line-height: 1.4em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #006ec3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.clear:after {
  clear: both;
}

.clear:before,
.clear:after {
  display: table;
  content: '';
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: '';
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #323232;
  padding: 1em 0;
  text-align: center;
}

.header h1 {
  font-size: 2.5em;
  line-height: 1.8em;
  color: #00ded2;
}

.main {
  padding: 50px 0;
}

.content {
  background: #fff;
  border: 1px solid #cecece;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  min-height: 420px;
  font-size: 20px;
  line-height: 1.8em;
}

.userInputStatus {
  border-bottom: 1px solid #dedede;
  padding: 10px 30px;
  margin: 0 -30px 15px -30px;
  font-weight: bold;
  text-align: right;
}

#userInput {
  font-weight: 300;
  color: #cd0000;
}

label {
  display: block;
  margin: 5px 0;
  font-weight: bold;
}

input[type=text] {
  display: block;
  width: 120px;
  height: 50px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #adadad;
  padding: 5px 8px;
  font-size: 30px;
  text-align: center;
  margin: 0 0 10px 0;
  color: #555;
}

.footer {
  background: #323232;
  padding: 0.8em 0;
  text-align: center;
  color: #fff;
}

.footer a {
  color: #ddecde;
  text-decoration: none;
}

input[type=button] {
    display: block;
    width: 120px;
    height: 50px;
    margin: 10px 0;
    padding: 8px 10px;
    font-size: 20px;
    background: #006ed2;
    border: 1px solid #0089d2;
    color: #efefef;
    cursor: pointer;
    border-radius: 3px;
    transition: all ease 0.3s;
}

input[type=button]:hover {
    background: #057D25;
}

.status {
    margin: 20px 0 10px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    color: #006ED2;
}

.error {
  color: #de0000;
}

.success {
  color: #017701;
}

.animated { 
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);} 
} 
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
} 
.shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}